<div class="footer">
    <div class="pull-right">
        &nbsp;
    </div>
    <div>
        <strong>Copyright</strong> <%=t('software.copyright')%> &copy; 2015, 版本: <%=t('software.version')%>
    </div>
</div>