<div class="ibox-content">
  <div class="file-manager">
    <%= button_div do %>
        <%= bs_button_window(new_fdn_party_org_path, '文件导入', 'btn-primary btn-sm', 'fa fa-file-excel-o') %>
    <% end %>
    <div class="ibox-content">
    </div>
  </div>
</div>
